/* setting theme of the code */


[data-theme="dark"] body{
  background-color: #121721;
}


[data-theme="dark"] #footer-position,
[data-theme="dark"] #role h3,
[data-theme="dark"] #requirements h3,
[data-theme="dark"] #company,
[data-theme="dark"] #position{
color: white;
}

[data-theme="dark"] #container,
[data-theme="dark"] #footer,
[data-theme="dark"] #company-details{
  background-color: #19202D;
  color: white;
}


[data-theme="dark"] #company-site{
  background-color: #6E8098;
  color: white;
}



[data-theme="light"] .filter-input,
[data-theme="light"] .filter,
[data-theme="light"] #job-listings>div {
  background-color: white;
  /* color: white; */
}


*{
    margin: 0px;
    padding: 0px;
    font-family: 'Kumbh Sans', sans-serif;
  }

  body {
background-color: #f2f2f2; 
}
  

  #company-details{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 100vw;
    width: 51%;
    height: 140px;
    background-color: white;
    position: absolute;
    left: 25%;
    top: 151px;
  }

  #company-site{
    position: absolute;
width: 17%;
height: 48px;
left: 75%;
top: 50px;
border: none;
color: #5964E0;
border-radius: 8px;
  }

  #company-site:hover {
    background-color: #a6abd6;
  }

  #contract-time{
    color: #6E8098;
    font-family: 'Kumbh Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
margin-bottom: 20px;
  }

  #posted-at {
    margin-right: 3%;
  }

  #contract{
    margin-left: 3%;
  }

  #apply-first{
    background-color: #5964E0;
    border: none;
    color: white;
    width: 17%;
height: 48px;
position: absolute;
right: 8%;
border-radius: 8px;
top: 75px;
  }

  #apply-first:hover{
background-color: #939BF4;
  }

  #position{
    
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 35px;
    
    color: #19202D;
    margin-bottom: 30px;
  }


  #location{
    font-family: 'Kumbh Sans';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;

color: #5964E0;
  }

  #logoBackground {
    width: 20%;
    height: 100%;
    background-color: #f6f7f9;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
  }
  
  #company-logo {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }

  #company{
    position: absolute;
    left: 24.7%;
    top: 42px;
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 30px;


color: #19202D;
  }

  #description{
    font-family: 'Kumbh Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* or 162% */


color: #6E8098;
  }

  #requirements h3{
    font-family: 'Kumbh Sans';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 25px;
margin-bottom: 60px;
color: #19202D;
margin-top: 80px;
  }

  #requirements p{
    font-family: 'Kumbh Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
margin-bottom: 20px;

color: #6E8098;
  }


  #requirements ul{
    font-family: 'Kumbh Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
margin-inline: 10px;
margin-bottom: 60px;
color: #6E8098;
  }


  #role h3{
    font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 25px;
margin-bottom: 60px;
color: #19202D;
  }


  #role p{
    font-family: 'Kumbh Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* or 162% */


color: #6E8098;
  }

  #role ol{
    font-family: 'Kumbh Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* or 162% */


color: #6E8098;
margin-top: 20px;
padding-left: 1.2%;
  }


  #website{
    position: absolute;
    left: 24.7%;
    top: 80px;
    
   
  }

  #website a{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #6E8098;
    text-decoration: none; 
  
  }


  

  #container{
    max-width: 100vw;
    width: 45%;
    position: absolute;
    left: 25%;
    top: 288px;
    background-color: white;
    margin-top: 32px;
    padding: 3%;
  }

  #details-main {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  #contract-time {
    display: flex;
    align-items: center;
  }
  #contract-time div {
    margin-right: 5px; /* optional spacing between the two child elements */
  }


  #requirements{
    margin-bottom: 30px;
    margin-top: -40px;
    /* background-color: red; */
  }

  #requirements h2 {
    margin-bottom: 30px;
    color: red;
   }

   #footer{
    position: relative;
    top: 1600px;
    width: 100vw;
    height: 96px;
    /* left: 25%; */
    background-color: white;
   }


   #inner-footer{
    position: relative;
    width: 50%;
    height: 51px;
    left: 25%;
    top: 22px;
    display: flex;
    justify-content: space-between;
   }



   #footer-position{
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    
    color: #19202D;
   }
  
   #footer-text p{
    font-family: 'Kumbh Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;

color: #6E8098;
   }


   #footer-button{
    width: 141px;
height: 48px;
background-color: #5964E0;
border: none;
color: white;
border-radius: 8px;
   }

   #footer-button:hover {
    background-color: #939BF4;
   }


   @media only screen and (max-width: 768px)  {
    
#company-details{
  width: 85%;
  left: 8%;
  top: 120px;
}

#container{
  max-width: 100vw;
  width: 75%;
  position: absolute;
    left: 8%;
    padding: 5%;
}

#footer{
margin-top: 5pc;
}

#inner-footer{
width: 85%;
left: 8%;
}

  }


  @media only screen and (max-width: 768px) {

#company-details{
  display: flex;
  border-radius: 8px;
  justify-content: center;
  height: 205px;
  /* margin-bottom: 20px; */
}

#logoBackground{
  height: 50px;
  width: 50px;
  border-radius: 8px;
  position: absolute;
  top: -25px;
}

#company{
  font-family: 'Kumbh Sans';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 25px;
text-align: center;
left: 39%;
}

#website a{
  
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  position: relative;
  left: 50%;
}


#company-site{
  width: 147px;
height: 48px;
top: 130px;
left: 25%;
border-radius: 8px;
}


#container{
  top: 330px;
  height: 2100px;
}


#position{
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
}

#detail-right{
  position: relative;
  top: 100px;
}

#apply-first{
  width: 279px;
height: 48px;

}

#description{
  position: relative;
  top: 120px;
  font-weight: 400;
font-size: 16px;
line-height: 26px;
}

#requirements{
  position: relative;
  top: 250px;
}


#requirements h3{
  font-weight: 700;
font-size: 20px;
line-height: 25px;
}


#role{
  position: relative;
  top: 260px;
}


#role h3{
  font-weight: 700;
font-size: 20px;
line-height: 25px;
}


#role p{
  font-family: 'Kumbh Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
}

#role ol{
  font-family: 'Kumbh Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
padding-left: 5%;
}


#footer{
  top: 2500px;
}

#footer-text{
  display: none;
}


#footer-button{
  width: 327px;
height: 48px;
}
















  }